.book-image {
  width: 35%;
  box-shadow: 0 2rem 3rem rgba($color-black, 0.2);
  position: absolute;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s;
}

.book1 {
  left: 0;
  top: -1em;

  &:hover {
    z-index: 11;
    box-shadow: 0 2.5rem 3rem rgba($color-black, 0.4);
    transform: translateY(-0.5rem) scale(1.1);
    outline: 1.5rem solid $color-primary;
    outline-offset: 1.5rem;
  }
}
.book2 {
  left: 14rem;
  top: 1rem;

  &:hover {
    z-index: 11;
    box-shadow: 0 2.5rem 3rem rgba($color-black, 0.4);
    transform: translateY(-0.5rem) scale(1.1);
    outline: 1.5rem solid $color-primary;
    outline-offset: 1.5rem;
  }
}
.book3 {
  left: 28rem;
  top: 3rem;

  &:hover {
    z-index: 11;
    box-shadow: 0 2.5rem 3rem rgba($color-black, 0.4);
    transform: translateY(-0.5rem) scale(1.1);
    outline: 1.5rem solid $color-primary;
    outline-offset: 1.5rem;
  }
}

.book-collection {
  position: relative;

  &:hover .book-image:not(:hover) {
    transform: scale(0.95);
    filter: blur(2px);
  }
}
