.feature-box {
  background-color: rgba(#fff, 0.8);
  display: inline-block;
  width: 18%;
  height: 40%;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
  transition: transform  0.4s;

  &:hover {
    transform: translateY(-2rem) scale(1.1);
    background-color: rgba(#fff, 0.9);
    box-shadow: 0 1.5rem 2rem rgba($color-black, 0.4);
  }
  &:first-child {
    margin-left: 10rem;
  }
  &:last-child {
    margin-right: 10rem;
  }
}

.feature-icon {
  font-size: 5rem;
  color: transparent;
  background: linear-gradient(
    to right bottom,
    rgba($color-secondary, 0.8),
    rgba($color-primary, 0.8)
  );
  -webkit-background-clip: text;
  display: inline-block;
}
