.heading-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  &-main {
    font-size: 6.4rem;
    font-weight: 900;
    letter-spacing: 0.5ch;
    color: #fff;
    margin-bottom: 2%;
    display: block;
    @include title-animation(moveInleft);
  }

  &-sub {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 0.5ch;
    text-transform: uppercase;
    display: block;
    margin-bottom: 6rem;
    @include title-animation(moveInright);
  }
}
.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $color-secondary, $color-primary);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.2s all;

  &:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
