.u-center-text {
  text-align: center;
}
.bottom-margin-big {
  margin-bottom: 6rem;
}

.top-bottom-margin-small {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.top-margin-big {
  margin-top: 8rem;
}

.top-margin-small {
  margin-top: 6rem;
}
