.section-about-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-about-subtext {
  flex: 1;
  margin: 10rem;
}
.section-about-subimage {
  flex: 1;
  margin: 5rem;
}
